* {
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: content-box;
}
body{
    background-color: grey;
}
.container{
    width: 400%;
    max-width: 470px;
    background: teal;
    color: black;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-box input{
    width: 55%;
    height: 40px;
    border-radius: 15px;
}
.search-box input::placeholder{
text-align: center
}
.search-box button{
    width: 70px;
    height: 30px;
    border-radius: 20px;
}

.search-box button:hover{
}
.search-box i{

}
.weather-box {
}
.weather-error{
}
.weather-error span{

}
.weather-box img{

}
.temp_min{

}
.weather-box .temprature{

}
.weather-box .temprature span{

}
.weather-box .description{

}
.weather-details{

}
.weather-details .humidity .weather-details .wind{

}
.weather-details .humidity{
    padding-right: 90%;
    padding-top: 0%;
}
.weather-details .wind{
    padding-left: 400px;
    display: flex;
    justify-content: space-between;

}
.weather-details i{
}
.weather-details span{
}
.weather-details p {
}
.weather-box .weather-details{

}

